* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #0f172a;
    --card: #1e293b;
    --card2: #334155;
    --text: #f8fafc;
    --sub: #94a3b8;
    --accent: #2563eb;
    --green: #22c55e;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 520px;
    margin: auto;
    padding: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

#settingsBtn {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 14px;
    background: var(--card);
    color: white;
    font-size: 20px;
}

.card {
    background: var(--card);
    border-radius: 22px;
    padding: 18px;
    margin-bottom: 16px;
}

.label {
    color: var(--sub);
    font-size: 14px;
    margin-bottom: 12px;
}

.selector {

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 14px;

}

.selector button {

    width: 52px;

    height: 52px;

    border: none;

    border-radius: 16px;

    background: var(--card2);

    color: white;

    font-size: 22px;

    font-weight: bold;

}

.selector div {

    flex: 1;

    text-align: center;

    font-size: 24px;

    font-weight: 700;

}

#note {

    text-align: center;

    font-size: 20px;

    color: white;

    min-height: 24px;

}

input {

    width: 100%;

    height: 68px;

    border: none;

    border-radius: 18px;

    background: var(--card2);

    color: white;

    text-align: center;

    font-size: 36px;

    outline: none;

}

input::placeholder {

    color: #64748b;

}

.resultCard {

    text-align: center;

}

#result {

    font-size: 62px;

    font-weight: bold;

    color: var(--green);

}

#copyBtn {

    width: 10%;

    height: 64px;

    border: none;

    border-radius: 20px;

    background: var(--accent);

    color: white;

    font-size: 22px;

    font-weight: 700;

}

button {

    cursor: pointer;

    transition: .15s;

}

button:active {

    transform: scale(.97);

}

@media (max-width:480px){

.container{

padding:14px;

}

h1{

font-size:28px;

}

.selector div{

font-size:22px;

}

#result{

font-size:54px;

}

}

.result-row{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:16px;
}

.copy-mini{

    width:100%;
    height:32px;

    border:none;
    border-radius:12px;

    background:#36435b;
    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.2s;
}

.copy-mini:active{

    transform:scale(.92);

}
